@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*
main.html styling start
 */
html {
    margin: 0;
    padding: 0;
    height: 25rem;
    width: 18.75rem;
    background-color: #ececec;
    font-family: 'Roboto', sans-serif !important;
}

body {
    flex-direction: column;
    order: 4;
    margin: 0;
    padding: 0;
}

.bi-file-earmark-arrow-up {
    font-size: 5.625rem;
    color: #385170;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #142d4c;
    width: 100%;
}

.drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 4px gray;
    margin: 1em;
    width: 16.875rem;
    height: 12.500rem;
    flex-direction: column;
    order: 2;
}

.green-border {
    border: dashed 4px green;
    background-color: #eeffbe;
}

h3 {
    text-align: center;
}

.upload_bottom {
    display: inline-block;
    color: #fff;
    background: #385170;
    border: none;
    width: 16.875rem;
    height: 2.1875rem;
    margin: 0 1rem 1rem 1rem;
    border-radius: .25rem;
    border-bottom: .25rem solid #142d4c;
    transition: all .2s ease;
    outline: none;
    text-align: center;
    font-size: 1.25rem;
}

.upload_bottom:hover {
    background: green;
    border-bottom: .25rem solid green;
    color: #eeffbe;
}

.upload_bottom:active {
    border: 0;
}

.button-wrap {
    position: relative;
}

/* Don't remove below. It hides the choose file button behind the upload button */
input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 0.3125rem;
    left: 1.25rem;
}

body div h2 {
    text-align: center;
}

/*
main.html styling end
 */