@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    height: 400px;
    width: 300px;
    background-color: #f8ffe2;
    font-family: 'Roboto', sans-serif !important;
}

.bi-file-earmark-arrow-up {
    font-size: 10rem;
    color: green;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    background-color: #eeffbe;
    width: 100%;
}

.drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-border {
    border: green;
}